<!-- <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%#= @email %></h1>
    <p>
      We have received your message through the contact us form.<br>
    </p>
    <p>
      We will be contacting you at the earliest.
    </p>
    <p>Thanks for writing to us and have a great day!</p>
  </body>
</html>
 -->